# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log

# OS files
.DS_Store

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
